<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <ul>
            <li>

            </li>
        </ul>
    </div>
    {{>footer}}
</body>


</html>