<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="err">
    <div class="main-content">
        <h2>Error 404</h2>
        <p>{{message}}</p>
        <p>You might visit these links:</p>
        <a href='/'>Home</a>
        <a href='/help'>Help</a>
    </div>
</body>

</html>