<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/app-icon.png">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    {{>header}}
    <div class="main-content">
        <div>
            <p>{{message}}</p>
            <p>
                If the result is not your desired location, try to search for more specific location.
            </p>
        </div>
    </div>
    {{>footer}}
</body>

</html>