@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke; 
    font-family: 'Open Sans', sans-serif;
    align-content: center;
}

.main-content{
    margin: 18vh auto;
    max-width: 600px;
    font-size: 1em;
}

.heading{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    font-weight: 500;
}

h2{
    font-size: 52px;
    color: rgb(35, 35, 35);
    max-width: 50%;
}

.error-image{
    max-width: 64px;
    margin-right: 10px;
}

.info-content{
    color: rgb(68, 68, 68);
}

.message{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 700px){
    .main-content{
        margin: 12vh 5vh;
        max-width: 400px;
        font-size: 1em;
    }

    h2{
        font-size: 30px;
    }
    .error-image{
        max-width: 24px;
        margin-right: 6px;
    }
    .info-content{
        font-size: 16px;
    }
    .message{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

}